@page "/About"

<PageTitle>About</PageTitle>

<h1>
    About
</h1>

<div>
    <div>
        <p>
            Software as great as a cat
        </p>
    </div>
    <div>
        <h2>
            Overview
        </h2>
        <div>
            <p>
                "Cat" is a great software development project.
            </p>
        </div>
    </div>
</div>
